<launch>
    <arg name="image" default="/sim/left_color_camera/image"/>
    <arg name="nodename" default="recorder"/>
    <arg name="filename" default="/home/caelan/Programs/srlstream/recording.avi"/>
    <!-- Without absolute path, it saves to ./ros-->

    <node name="$(arg nodename)" pkg="image_view" type="video_recorder"
        args = "image:=$(arg image) _filename:=$(arg filename)  _fps:=30  _max_depth_range:=0">
    </node>
</launch>